<div class="p-grid">
    <div *ngIf="ObjOptions.o4_1" class="p-col-12">
        <h5>{{"Formato" | translate}}</h5>
        <div class="card">
            <!-- <h4>PIAS HAY QUE PREGUNTAR SOBRE ESTE CAMPO</h4> -->
            <div class="p-field p-fluid">
                <label for="esquema">{{"Esquema" | translate}}</label>
                <input id="esquema" type="esquema" pInputText aria-describedby="username-help">
                <!-- <small id="username-help">Enter your username to reset your password.</small> -->
            </div>
        </div>
    </div>

    <!-- perfiles da lo mismo en tamaño y localizacion -->

    <div *ngIf="ObjOptions.o4_2" class="p-col-12 p-md-6">
        <h5>{{"Tamaño" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <input id="tamanio" type="text" pInputText>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="ObjOptions.o4_3" class="p-col-12 p-md-6">
        <h5>{{"Localización" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <input id="localizacion" type="text" pInputText>
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="ObjOptions.o4_4" class="p-col-12">
        <h5>{{"Requisitos" | translate}}</h5>
        <div class="card">
            <h6>{{"Agredador Or" | translate}}</h6>
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="tipo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Tipo" | translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <p-dropdown id="tipo" [options]="tiposOr" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="nombre" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Nombre" | translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <input id="nombre" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="ver_minima" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Versión Mínima" | translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <input id="ver_minima" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="ver_maxima" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Versión Máxima" | translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <input id="ver_maxima" type="text" pInputText>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="ObjOptions.o4_5" class="p-col-12 p-md-6">
        <h5>{{"Pautas de Instalación" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="descripcion">{{"Descripción" | translate}}</label>
                    <textarea id="descripcion" type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="ObjOptions.o4_6" class="p-col-12 p-md-6">
        <h5>{{"Otros Requisitos de Plataforma" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="descripcion">{{"Descripción" | translate}}</label>
                    <textarea id="descripcion" type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="ObjOptions.o4_7" class="p-col-12">
        <h5>{{"Duración"| translate}}</h5>
        <div class="card">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="anios">{{"Años" | translate}}</label>
                    <p-inputNumber id="anios" mode="decimal" [showButtons]="true" [min]="0" [max]="100"></p-inputNumber>
                </div>
                <div class="p-field p-col">
                    <label for="meses">{{"Meses" | translate}}</label>
                    <p-inputNumber id="meses" mode="decimal" [showButtons]="true" [min]="0" [max]="12"></p-inputNumber>
                </div>

                <div class="p-field p-col">
                    <label for="dias">{{"Días" | translate}}</label>
                    <p-inputNumber id="dias" mode="decimal" [showButtons]="true" [min]="0" [max]="30"></p-inputNumber>
                </div>
                <div class="p-field p-col">
                    <label for="horas">{{"Horas"| translate}}</label>
                    <p-inputNumber id="horas" mode="decimal" [showButtons]="true" [min]="0" [max]="24"></p-inputNumber>
                </div>
                <div class="p-field p-col">
                    <label for="minutos">{{"Minutos" | translate}}</label>
                    <p-inputNumber id="minutos" mode="decimal" [showButtons]="true" [min]="0" [max]="60"></p-inputNumber>
                </div>
                <div class="p-field p-col">
                    <label for="segundos">{{"Segundos"| translate}}</label>
                    <p-inputNumber id="segundos" mode="decimal" [showButtons]="true" [min]="0" [max]="60"></p-inputNumber>
                </div>
            </div>


            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="descripcion">{{"Descripción" | translate}}</label>
                    <textarea id="descripcion" type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>


        </div>
    </div>


</div>