<div class="p-grid">
    <div *ngIf="ObjOptions.o8_1" class="p-col-12">
        <h5>Entidad</h5>
        <div class="card">
            <h6>Identificador</h6>
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="nombre" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nombre</label>
                    <div class="p-col-12 p-md-10">
                        <input id="nombre" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="apellido" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Apellido</label>
                    <div class="p-col-12 p-md-10">

                        <input id="apellido" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Email</label>
                    <div class="p-col-12 p-md-10">
                        <input id="email" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="organizacion" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Organización</label>
                    <div class="p-col-12 p-md-10">
                        <input id="organizacion" type="text" pInputText>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div *ngIf="ObjOptions.o8_2" class="p-col-12">
        <h5>Fecha</h5>
        <div class="card">
            <h5>Fecha</h5>

            <div class="p-fluid">

                <div class="p-field p-grid">
                    <div class="p-col-12 p-md-10">
                        <p-calendar [(ngModel)]='fecha' [showIcon]="true" inputId="icon"></p-calendar>
                    </div>
                </div>
            </div>

            <h5>Hora</h5>
            <div class="card">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="horas">{{"Horas"| translate}}</label>
                        <p-inputNumber id="horas" mode="decimal" [showButtons]="true" [min]="0" [max]="24"></p-inputNumber>
                    </div>
                    <div class="p-field p-col">
                        <label for="minutos">{{"Minutos" | translate}}</label>
                        <p-inputNumber id="minutos" mode="decimal" [showButtons]="true" [min]="0" [max]="60"></p-inputNumber>
                    </div>
                    <div class="p-field p-col">
                        <label for="segundos">{{"Segundos"| translate}}</label>
                        <p-inputNumber id="segundos" mode="decimal" [showButtons]="true" [min]="0" [max]="60"></p-inputNumber>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <div *ngIf="ObjOptions.o8_3" class="p-col-12">
        <h5>Descripción</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- <label for="descripcion">Descripción</label> -->
                <textarea id="descripcion" [(ngModel)]='objAnotacion["Description"]' type="text" rows="4" pInputTextarea></textarea>
            </div>
        </div>

    </div>


    <div *ngIf="ObjOptions.o8_4" class="p-col-12 p-md-6">
        <h5>{{"Modo de acceso" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="modo_acceso" [(ngModel)]='modo_accesoSelect' name='modo_accesoSelect' placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div *ngIf="ObjOptions.o8_5" class="p-col-12 p-md-6">
        <h5>{{"Modo de acceso suficiente" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">

                <p-dropdown [options]="modo_suficiente" [(ngModel)]='modo_suficienteSelect' name='modo_suficienteSelect' placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div *ngIf="ObjOptions.o8_6" class="p-col-12 p-md-6">
        <h5>{{"Rol" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="rol" [(ngModel)]='rolSelect' name='rolSelect' placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


</div>