<div class="p-grid ">
    <!--<div class="p-col-12 p-md-6">

         <div class="card">
            <h5>InputText</h5>
            <div class="p-grid p-formgrid">
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <input type="text" pInputText placeholder="Default">
                </div>
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <input type="text" pInputText placeholder="Disabled" [disabled]="true" />
                </div>
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <input type="text" pInputText placeholder="Invalid" class="p-invalid" />
                </div>
            </div>
        </div>


        <div class="card">
            <h5>Vertical Grid</h5>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="firstname2">Name</label>
                    <input id="firstname2" type="text" pInputText>
                </div>
                <div class="p-field p-col">
                    <label for="lastname2">Email</label>
                    <input id="lastname2" type="text" pInputText>
                </div>
            </div>
        </div>


        <div class="card">
            <p>pedro </p>
        </div>
        <div class="card">
            <p>pedro </p>
        </div>

    </div> -->


    <div class="p-col-12">
        <div class="card">
            <!-- <h5>Advanced</h5> -->
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 ">
                    <label for="titulo">Título</label>
                    <input id="titulo" type="text" pInputText>
                </div>

                <div class="p-field p-col-12">
                    <label for="address">Address</label>
                    <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
                </div>
                <div class="p-field p-col-12 ">
                    <label for="palabraClave">Papabra Clave</label>
                    <input id="palabraClave" type="text" pInputText>
                </div>
            </div>
        </div>
    </div>
</div>