<div class="p-grid">
    <div class="p-col-12">

    </div>
</div>


<div class="p-grid">
    <div class="p-col-12">


        <div class="card">
            <div class="p-mb-3 p-text-center">
                <h1>Bienvenido a LOMpad web</h1>
            </div>
            <div class="p-mb-3 p-text-center">
                <h5>Por favor configure la aplicación de acuerdo a lo que necesite</h5>
            </div>

            <p-fileUpload (uploadHandler)="onUpload($event)" customUpload="true" multiple="multiple" accept=".rar,.zip" maxFileSize="1000000000000">
                <!-- <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles" class="p-mb-3 p-text-center">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template> -->
            </p-fileUpload>
            <!-- <br>
            <div class="p-mb-3 p-text-center">
                <button pButton pRipple type="button" label="Empezar" class="p-mr-2 p-mb-2" (click)="habilitar()"></button>
            </div> -->

        </div>
    </div>
</div>

<!-- <angular-file-uploader [config]="afuConfig">
</angular-file-uploader> -->