<div class="layout-wrapper" (click)="onLayoutClick()" [ngClass]="{'layout-horizontal': app.horizontalMenu,
                'layout-wrapper-static': staticMenuActive,
                'layout-rightpanel-active': rightPanelActive,
                'layout-topbar-mobile-active': topbarMobileMenuActive,
                'layout-megamenu-mobile-active': megaMenuMobileActive,
                'layout-sidebar-mobile-active': menuMobileActive,
                'p-input-filled': app.inputStyle === 'filled',
                'p-ripple-disabled': !app.ripple}" [class]="app.menuColor">

    <app-menu></app-menu>
    <!-- ESTA ES LA PAGINA EN LA QUE HAY QUE PONER LOS COMPONENETES -->
    <div class="layout-main">
        <app-topbar></app-topbar>

        <app-rightpanel></app-rightpanel>
        <!--  este componente sirve para ver en donde estamos en el sistema -->
        <app-breadcrumb></app-breadcrumb>

        <div class="layout-content">
            <!-- router outlet es el componenete donde se encuentran los contenidos principales -->
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>

        <app-config></app-config>

        <div class="layout-main-mask"></div>
    </div>
</div>