<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <h5>{{"Tipo" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="tipos" placeholder='{{"Seleccionar"| translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-6">
        <h5>{{"Recurso" | translate}}</h5>
        <div class="card">
            <h6>{{"Identificador" | translate}}</h6>
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="nombre" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Nombre" | translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <input id="nombre" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="apellido" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Apellido" | translate}}</label>
                    <div class="p-col-12 p-md-10">

                        <input id="apellido" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="lastname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Email"| translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <input id="lastname4" type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="organizacion" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Organización"| translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <input id="organizacion" type="text" pInputText>
                    </div>
                </div>

            </div>

            <div class="card">
                <h6>{{"Descripción" | translate}}</h6>
                <div class="p-fluid">
                    <!-- <label for="descripcion">Descripción</label> -->
                    <textarea id="descripcion" type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>

        </div>
    </div>

</div>