<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <h5>{{"Tipo Actividad" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="tiposActividad" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-6">
        <h5>{{"Tipo de recurso educativo" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="tiposRecursEducativos" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <h5>{{"Nivel de interactividad" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="nivelesInteractividad" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <h5>{{"Densidad Semántica" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="densiadesSemanticas" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <h5>{{"Destinatario" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="destinatarios" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <h5>{{"Contexto" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="contextos" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-6">
        <h5>{{"Rango típico de edad" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <label for="rango">{{"Rango" | translate}}</label>
                <input id="rango" type="text" pInputText>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-6">
        <h5>{{"Dificultad" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="dificultades" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true "></p-dropdown>
            </div>
        </div>
    </div>
</div>