<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <h5>Tipo Actividad</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="tiposActividad" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-6">
        <h5>Tipo de recurso educativo</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="tiposRecursEducativos" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <h5>Nivel de interactividad</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="nivelesInteractividad" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <h5>Densidad Semántica</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="densiadesSemanticas" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <h5>Destinatario</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="destinatarios" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6">
        <h5>Contexto</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="contextos" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-6">
        <h5>Rango típico de edad</h5>
        <div class="card">
            <div class="p-fluid">
                <label for="rango">Rango</label>
                <input id="rango" type="text" pInputText>
            </div>
        </div>
    </div>


    <div class="p-col-12 p-md-6">
        <h5>Dificultad</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="dificultades" placeholder=" Seleccionar " [showClear]="true "></p-dropdown>
            </div>
        </div>
    </div>
</div>