<div class="p-grid">
    <div *ngIf="ObjOptions.o6_1" class="p-col-12 p-md-6">
        <h5>{{"Coste" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="decision" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>

    <div *ngIf="ObjOptions.o6_2" class="p-col-12 p-md-6">
        <h5>{{"Derechos de autor y otras actividades" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="decision" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div *ngIf="ObjOptions.o6_3" class="p-col-12">
        <h5>{{"Descripción" | translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="descripcion">{{"Descripción" | translate}}</label>
                    <textarea id="descripcion" type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>



</div>