<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <h5>Coste</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="decision" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <h5>Derechos de autor y otras actividades</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="decision" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="p-col-12">
        <h5>Descripción</h5>
        <div class="card">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>
        </div>


    </div>



</div>