<div class="p-grid">
    <div *ngIf="ObjOptions.o9_1" class="p-col-12">
        <h5>{{"Propósito"| translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="propositos" placeholder='{{"Seleccionar"| translate}} ' [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>

    <div *ngIf="ObjOptions.o9_2" class="p-col-12">
        <h5>{{"Ruta Taxonómica"| translate}}</h5>
        <div class="card">
            <div *ngIf="ObjOptions.o9_2_1" class="p-fluid">
                <label for="fuente">{{"Fuente"| translate}}</label>
                <input id="fuente" [(ngModel)]='objClasification["Taxon Path"]["Source"]' type="text" pInputText>
            </div>

            <div *ngIf="ObjOptions.o9_2_2" class="p-fluid p-formgrid p-grid">
                <h6>{{"Taxón"| translate}}</h6>

                <label for="id" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Id</label>
                <div class="p-field p-col">
                    <input id="id" [(ngModel)]='objClasification["Taxon Path"]["Taxon"]["Id"]' type="text" pInputText>
                </div>
                <label for="entrada" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Entrada" | translate}}</label>
                <div class="p-field p-col">
                    <input id="entrada" [(ngModel)]='objClasification["Taxon Path"]["Taxon"]["Entry"]' type="text" pInputText>
                </div>
            </div>

        </div>

    </div>



    <div *ngIf="ObjOptions.o9_3" class="p-col-12">
        <h5>{{"Descripción"| translate}}</h5>
        <div class="card">
            <div class="p-fluid">
                <!-- <label for="descripcion">Descripción</label> -->
                <textarea id="descripcion" [(ngModel)]='objClasification["Description"]' type="text" rows="4" pInputTextarea></textarea>
            </div>
        </div>

    </div>


    <div *ngIf="ObjOptions.o9_4" class="p-col-12">
        <h5>{{"Palabra Clave"| translate}}</h5>
        <div class="card">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 ">
                    <!-- <label for="palabraclave1">{{"Palabra Clave" | translate}}</label>
                     <input id="palabraclave1" type="text" pInputText> -->
                    <button pButton pRipple type="button" icon="pi pi-plus" title="Add Column" (click)="addPalabra()" [disabled]="columns.length === 20" class="p-mr-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumn()" [disabled]="columns.length === 1"></button>

                    <div class="p-col-12 p-md-10" *ngFor="let col of columns; let i" [@animation]="'visible'">
                        <div class="box">{{i}}</div>
                    </div>

                </div>

            </div>
        </div>

    </div>



    <p-dialog [(visible)]="palabraDialog" [style]="{width: '450px'}" header="" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" pInputText id="nombrePalabraK" [(ngModel)]="palabra" required autofocus />
                <!-- <small class="p-invalid" *ngIf="![(ngModel)]=""">Name is required.</small> -->
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancelPalabra()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePalabra()"></button>
        </ng-template>
    </p-dialog>



</div>